.admin-form {
    width: 90%;
    max-width: 40rem;
    margin: 2rem auto;
    padding: 2rem;
  
    .actions {
      text-align: center;
    }
}

.mealsLoading {
  text-align: center;
  color: #ffffff;
  font-size: 24px;
  margin: 12rem auto;
}

.mealsError {
  text-align: center;
  color: red;
  font-size: 24px;
  margin: 12rem auto;
}